@media only screen and (min-width: 320px) and (max-width: 767px) {
    .first.block .colored,
    .second.block .colored {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .first.block .colored,
    .second.block .colored,
    .fourth.block .colored:first-of-type,
    .fourth.block .colored:nth-of-type(2){
        width: 50%;
    }

    .fifth.block > div:not(:nth-of-type(5)) {
        float: left;
        width: 50%;
    }

    .fifth.block .colored:nth-of-type(5) {
        clear: both;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .first.block .colored,
    .second.block .colored,
    .fourth.block .colored,
    .fifth.block > div:not(:nth-of-type(5)){
        float: left;
        width: calc(100%/2);
    }

    .third.block .colored {
        float: left;
        width: calc(100%/3);
    }

    .fourth.block .colored:nth-of-type(2n+1) {
        width: 35%;
    }

    .fourth.block .colored:nth-of-type(2n) {
        width: 30%;
    }

    .fifth.block .colored:nth-of-type(5) {
        clear: both;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
    .first.block .colored,
    .second.block .colored {
        float: left;
        width: calc(100%/2);
    }

    .third.block .colored:first-of-type,
    .third.block .colored:nth-of-type(2) {
        width: 50%;
    }

    .fourth .colored {
        float: left;
    }

    .fourth.block .colored:nth-of-type(2n+1) {
        width: 35%;
    }

    .fourth.block .colored:nth-of-type(2n) {
        width: 30%;
    }

    .fifth {
        text-align: center;
    }

    .fifth.block .colored {
        width: 33%;
        display: inline-block;
    }
}

@media only screen and (min-width: 1800px) {
    .colored {
        float: left;
    }

    .first.block .colored {
        width: calc(100%/4);
    }

    .second.block .colored {
        width: calc(100%/2);
    }

    .third.block .colored:first-of-type,
    .fourth.block .colored:nth-of-type(3) {
        width: 50%;
    }

    .third.block .colored:nth-of-type(2),
    .third.block .colored:nth-of-type(3),
    .fourth.block .colored:first-of-type,
    .fourth.block .colored:nth-of-type(2) {
        width: 25%;
    }

    .fifth.block .colored {
        width: calc(100%/5);
    }
}
